body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.5;
    background-color: #ffffff;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.main-header {
    padding-top: 50px;
    background-color: #eeeeee;
    min-width: 1200px;
}

.header-navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-logo {
    width: 160px;
    height: 65px;
    cursor: pointer;
}

.header-logo:hover {
    width: 160px;
    height: 65px;
    opacity: 0.8;
}

.header-logo:active {
    width: 160px;
    height: 65px;
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    flex-grow: 1;
}

.site-navigation {
    width: 560px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 179px;
    font-weight: bold;
}

.user-basket {
    width: 115px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.user-basket li {
    margin-right: 0;
}

.user-basket a {
    text-align: right;
    padding-right: 0;
    position: relative;
}

.site-navigation li {
    position: relative;
    margin-left: 23px;
    margin-right: 23px;
}

.site-navigation a,
.user-basket a {
    color: #000000;
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
}

.site-navigation a:hover,
.user-basket a:hover {
    color: #fb565a;
}

.site-navigation a:active,
.user-basket a:active {
    color: rgba(0, 0, 0, 0.3);
}

.item-active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fb565a;
    bottom: 5px;
    left: 0;
}

.user-basket::before {
    position: absolute;
    content: "";
    top: 82px;
    left: 10;
    background-repeat: no-repeat;
    background-image: url(../img/cart-icon.svg);
    width: 15px;
    height: 15px;
}

/*Слайдер*/

.slider {
    position: relative;
    background-color: #eeeeee;
    margin-bottom: 80px;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;
    padding-top: 78px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slider-1.png");
    background-position: 93% 18px;
    background-repeat: no-repeat;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slider-2.png");
    background-position: 100%;
    background-repeat: no-repeat;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slider-3.png");
    background-position: 100%;
    background-repeat: no-repeat;
}

.slider-item h3 {
    text-transform: none;
    font-size: 55px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin-bottom: 23px;
}

.slider-item p {
    text-transform: none;
    line-height: 1.5;
    color: #283136;
    max-width: 430px;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    margin-bottom: 39px;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 105px;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
}

.slider-controls label::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 50%;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: #ffffff;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-button {
    display: block;
    width: 240px;
    padding-top: 17px;
    padding-bottom: 15px;
    background-color: #fb565a;
    border-radius: 5px;
    border: none;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.slider-button:hover,
.slider-button:focus {
    background-color: #e74246;
}

.slider-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


/*Main-Index*/

.services {
    display: flex;
    margin-bottom: 80px;
}

.services-block {
    width: 300px;
    margin-right: 100px;
}

.development-logo {
    width: 300px;
    height: 146px;
}

.services-block h3 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-bottom: 17px;
    padding-top: 24px;
}

.services-block p {
    font-size: 16px;
    color: #283136;
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    width: 285px;
    text-transform: none;
}

.button-web {
    display: block;
    width: 160px;
    padding-top: 17px;
    padding-bottom: 15px;
    background-color: #fb565a;
    border-radius: 5px;
    border: none;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
}

.button-web:hover,
.button-web:focus {
    background-color: #e74246;
}

.button-web:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-app {
    display: block;
    width: 160px;
    padding-top: 17px;
    padding-bottom: 15px;
    background-color: #00ca74;
    border-radius: 5px;
    border: none;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
}

.button-app:hover,
.button-app:focus {
    background-color: #00bc6c;
}

.button-app:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-presentation {
    display: block;
    width: 160px;
    padding-top: 17px;
    padding-bottom: 15px;
    background-color: #efc84a;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
}

.button-presentation:hover,
.button-presentation:focus {
    background-color: #eab534;
}

.button-presentation:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Раздел информации о нас*/

.about-us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px;
    position: relative;
}

.about-us::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #eeeeee;
    width: 100%;
    height: 2px;
}

.about-us-info {
    width: 660px;
}

.about-us-info h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
    padding-top: 76px;
    text-transform: none;
}

.about-us-info p {
    color: #283136;
    margin: 0;
    padding: 0;
    padding-top: 33px;
    padding-bottom: 39px;
    text-transform: none;
}

.about-us h3 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    padding: 0;
}

.about-us-stats {
    width: 360px;
}

.about-us-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-us-list li {
    padding-left: 36px;
    padding-top: 29px;
    position: relative;
    line-height: 1.15;
    color: #283136;
    text-transform: none;
}

.about-us-list li::before {
    position: absolute;
    content: "";
    top: 36px;
    left: 1px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.about-us-logo {
    width: 360px;
    height: 208px;
    margin-top: 42px;
}

.about-us-stats-table {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    padding: 0;
    padding-top: 36px;
    padding-left: 18px;
    padding-bottom: 30px;
}

.about-us-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    text-transform: none;
}

.about-us-table-percent {
    font-size: 45px;
    font-weight: 700;
    line-height: 0.8;
    color: #000000;
}

.about-us-table-percent td {
    padding-right: 24px;
    padding-top: 15px;
}

.about-us-table-percent span {
    font-size: 23px;
    font-weight: 700;
    vertical-align: top;
    color: #000000;
}

.about-us-table-text {
    line-height: 1.15;
    color: #283136;
}

.about-us-table-text td {
    padding-right: 24px;
    padding-top: 22px;
}

/*Логотипы сайтов*/

.logotypes {
    margin-bottom: 76px;
}

.logotypes-list {
    position: relative;
}

.logotypes-list::before {
    position: absolute;
    content: "";
    left: 0;
    top: -1px;
    background-color: #eeeeee;
    width: 100%;
    height: 2px;
}

.logotypes-list::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 4px;
    background-color: #eeeeee;
    width: 100%;
    height: 2px;
}

.logotypes-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo-item {
    position: relative;
    width: 260px;
    height: 180px;
}

.logo-list::before {
    position: absolute;
    content: "";
    top: 65px;
    right: -21px;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}

.logo-htmlacademy {
    padding-top: 7px;
}

.logo-borodinski {
    padding-top: 2px;
}

.logo-pink {
    padding-top: 2px;
}

.logo-mishka {
    padding-top: 5px;
}

.logo-link {
    opacity: 0.2;
}

.logo-link:hover {
    opacity: 1;
}

.logo-link:active {
    opacity: 0.1;
}


/*Footer*/

.main-footer {
    margin-bottom: 70px;
}

/*Контактная информация*/

.contacts-map {
    position: relative;
    width: 1440px;
    height: 416px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.contacts-map iframe {
    border: 0;
}

.contacts {
    width: 320px;
    height: 310px;
    background-color: #ffffff;
    position: absolute;
    top: 53px;
    left: 140px;
}

.contacts-info {
    padding-top: 50px;
    padding-left: 50px;
}

.contacts-info h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
}

.contacts-info p {
    line-height: 1.15;
    color: #666666;
    margin: 0;
    padding: 0;
    width: 202px;
    padding-bottom: 18px;
    text-transform: none;
}

.contacts-info p:last-of-type {
    padding-bottom: 37px;
}

.about-us-button {
    display: block;
    width: 220px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fb565a;
    border-radius: 5px;
    border: none;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.about-us-button:hover,
.about-us-button:focus {
    background-color: #e74246;
}

.about-us-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Соц сети */

.contackts-social {
    display: flex;
}

.footer-social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 260px;
}

.footer-social li {
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 13px;
    width: 78px;
    height: 78px;
}

.footer-social a {
    width: 78px;
    height: 78px;
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.footer-social li:hover {
    background-color: #e74246;
}

.footer-social li:active {
    background-color: #d7373b;
}

.social-vk {
    background-image: url("../img/vk-icon.svg");
}

.social-fb {
    background-image: url("../img/fb-icon.svg");
}

.social-insta {
    background-image: url("../img/insta-icon.svg");
}

.social-vk:active,
.social-fb:active,
.social-insta:active {
    opacity: 0.3;
}

.visually-hidden {
    visibility: hidden;
}

.footer-friends {
    margin-left: 140px;
    min-width: 560px;
}

.footer-friends h2 {
    font-size: 36px;
    line-height: 1;
    color: #000000;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 0px;
    text-transform: none;
}

.footer-friends p {
    color: #444444;
    padding: 0;
    margin: 0;
    text-transform: none;
}

/*Write-Us-Form*/

.write-us {
    position: fixed;
    top: 20%;
    left: 50%;
    width: 960px;
    transform: translateX(-50%);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    display: none;
}

.write-us label {
    line-height: 1.1;
    font-weight: 700;
    color: #000000;
}

.modal-us {
    position: relative;
    padding-top: 67px;
    padding-bottom: 84px;
    padding-left: 100px;
    padding-right: 90px;
    text-transform: none;
}

.modal-us h3 {
    font-size: 45px;
    line-height: 1;
    font-weight: 500;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
    text-transform: none;
}

.form-write-us {
    display: flex;
    flex-wrap: wrap;
}

.form-write-us label {
    padding-top: 3px;
    padding-bottom: 9px;
}

.modal {
    display: flex;
    flex-direction: column;
}

.write-name {
    padding-right: 40px;
    padding-bottom: 31px;
}

.write-email {
    padding-bottom: 31px;
}

.write-message {
    padding-bottom: 48px;
}

.write-us input {
    width: 328px;
    color: #444444;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding: 14px;
    outline: 0;
}

.write-us input:hover,
.write-us textarea:hover {
    border: 2px solid #b4b9bb;
}

.write-us input:focus,
.write-us textarea:focus {
    border: 2px solid #000000;
}

.write-us input:invalid {
    color: #e74246;
    border: 2px solid #e74246;
}

.write-us textarea {
    width: 732px;
    height: 90px;
    font-weight: 400;
    color: #444444;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding: 12px;
    outline: 0;
    resize: none;
}

.button-submit {
    display: block;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #fb565a;
    width: 260px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.button-submit:hover,
.button-submit:focus {
    background-color: #e74246;
}

.button-submit:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.modal-close {
    position: absolute;
    top: 77px;
    right: 89px;
    width: 22px;
    height: 22px;
    font-size: 0;
    border: none;
    cursor: pointer;
    background: none;
}

.modal-close::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    background-image: url("../img/close-cross.svg");
    background-repeat: no-repeat;
}

.modal-close:hover::before {
    opacity: 1;
}

.modal-close:active::before {
    opacity: 0.3;
}

.modal-show {
    display: block;
    z-index: 2;
}


/*Head-Catalog*/


.catalog-name h2 {
    font-size: 55px;
    line-height: 1;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 78px;
    padding-bottom: 105px;
    text-transform: none;
    font-weight: 500;
}

.catalog-wrapper {
    display: flex;
}


/* Catalog-filters */

.filters {
    width: 260px;
}

.filters-list {
    margin-top: 55px;
}

.filter-price {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 52px;
}

.filter-range {
    width: 260px;
    margin-top: 47px;
}

.filter-price legend {
    font-size: 18px;
    line-height: 1.7;
    font-weight: bold;
    letter-spacing: 0.01em;
    color: #000000;
    padding: 0;
    margin: 0;
    padding-top: 2px;
}

.range-controls {
    height: 41px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    width: 70%;
    background-color: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: solid 8px #ffffff;
    background-color: #adadad;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    line-height: 1.4;
    color: #000000;
}

.price-controls input {
    line-height: 1.4;
    color: #283136;
    text-align: center;
    width: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-left: 10px;
}

.max-price {
    text-align: right;
}

.filter-grid {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 25px;
}

.filter-grid legend {
    font-size: 18px;
    line-height: 1.7;
    font-weight: 700;
    color: #000000;
    padding: 0;
    margin: 0;
    padding-top: 2px;
}

.filter-radio-grid {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.filter-option {
    text-transform: none;
    margin-bottom: 18px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    line-height: 1.3;
    color: #283136;
    padding-left: 35px;
    padding-top: 2px;
}

.filter-input-radio + .filter-label-radio::before {
    position: absolute;
    content: "";
    left: 1px;
    top: -2px;
    width: 17px;
    height: 17px;
    border: solid 4px #4d4d4d;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-input-radio:checked + .filter-label-radio::before {
    position: absolute;
    content: "";
    left: 1px;
    top: -2px;
    width: 17px;
    height: 17px;
    border: solid 4px #4d4d4d;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-input-radio:checked + .filter-label-radio::after {
    position: absolute;
    content: "";
    left: 9px;
    top: 6px;
    width: 9px;
    height: 9px;
    background-color: #4d4d4d;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-input-radio + .filter-label-radio:hover::before,
.filter-input-radio:checked + .filter-label-radio:hover::before {
    position: absolute;
    content: "";
    left: 1px;
    top: -2px;
    width: 17px;
    height: 17px;
    border: solid 4px #4d4d4d;
    border-radius: 50%;
    opacity: 1;
}

.filter-input-radio + .filter-label-radio:hover::after,
.filter-input-radio:checked + .filter-label-radio:hover::after {
    position: absolute;
    content: "";
    left: 9px;
    top: 6px;
    width: 9px;
    height: 9px;
    background-color: #4d4d4d;
    border-radius: 50%;
    opacity: 1;
}


.filter-features {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 30px;
}

.filter-features legend {
    font-size: 18px;
    line-height: 1.7;
    font-weight: bold;
    color: #000000;
    padding: 0;
    margin: 0;
    padding-top: 2px;
}

.filter-checkbox {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 14px;
}

.filter-input-checkbox + .filter-label-checkbox::before {
    position: absolute;
    content: "";
    left: 1px;
    top: -1px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    opacity: 0.4;
}

.filter-input-checkbox:checked + .filter-label-checkbox::before {
    position: absolute;
    content: "";
    left: 1px;
    top: -1px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    opacity: 0.4;
}

.filter-input-checkbox:hover + .filter-label-checkbox::before {
    opacity: 1;
}


.filter-button {
    font-weight: 500;
    text-align: center;
    color: #000000;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
    width: 260px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Сортировка*/

.catalog-sorting {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 140px;
    margin-bottom: 50px;
    width: 760px;
}

.catalog-sorting h3 {
    font-size: 18px;
    line-height: 1.1;
    font-weight: bold;
    color: #000000;
    padding: 0;
    margin: 0;

}

.sorting-wrapper {
    display: flex;
    margin-top: -2px;
}

.sorting-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 340px;
}

.sorting-list li {
    margin-left: 20px;
    margin-right: 6px;
}

.sorting-item {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.3);
}

.sorting-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-item:active {
    color: #000000;
}

.sorting-active {
    color: #000000;
}

.sorting-updown {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 41px;
}

.sorting-up-link,
.sorting-down-link {
    opacity: 0.3;
}

.sorting-down-link:hover,
.sorting-up-link:hover {
    opacity: 0.6;
}

.sorting-down-link:active,
.sorting-up-link:active {
    opacity: 1;
}

.updown-active {
    opacity: 1;
}

/*catalog-list*/

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 140px;
}

.catalog-items {
    position: relative;
}

.catalog-items:nth-child(2n) {
    margin-right: 0;
}

.catalog-items {
    position: relative;
    margin-right: 40px;
    margin-bottom: 30px;
}

.catalog-items:hover {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.catalog-items::before {
    position: absolute;
    content: "";
    left: 0;
    top: 3px;
    background-image: url("../img/browser.svg");
    width: 360px;
    height: 40px;
    opacity: 0.12;
}

.catalog-items:hover::before {
    opacity: 1;
}

.catalog-picture {
    width: 360px;
    height: 576px;
    padding-top: 43px;
}

.catalog-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 360px;
    min-height: 230px;
    background-color: #eeeeee;
    z-index: 2;
    display: none;
}

.catalog-info h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 32px;
}

.catalog-info h1 a {
    text-decoration: none;
    color: #000000;
}

.catalog-info p {
    text-transform: none;
    line-height: 1.2;
    color: #666666;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 21px;
    padding-bottom: 30px;
}

.price-btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 43px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
    line-height: 1.1;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.price-btn:hover {
    background-color: #e74246;
}

.price-btn:active {
    background-color: #d7373b;
    border-top: 3px solid #c13135;
    border-radius: 3px;
    padding-top: 13px;
    padding-bottom: 16px;
}

.catalog-items:hover .catalog-info {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*Пагинация страниц*/

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 140px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.pagination-item {
    margin-right: 10px;
}

.pagination-item a {
    display: block;
    padding: 16px 21px;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1;
    color: #000000;
    background-color: #eeeeee;
    border-radius: 3px;
}

.pagination-item a:hover {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    border-top: solid 3px #bfbfbf;
    border-radius: 5px;
    padding-top: 13px;
    padding-bottom: 16px;
}

.number-active a {
    background-color: #ffffff;
    border: solid 3px #eeeeee;
    border-radius: 3px;
    padding: 13px 18px;
}

.number-active a:hover {
    background-color: #ffffff;
}

.number-active a:active {
    background-color: #ffffff;
    border: solid 3px #eeeeee;
    border-radius: 3px;
    padding: 13px 18px;
    color: #000000;
}

.pagination-btn {
    width: 219px;
    text-align: center;
}
